<a href="https://colab.research.google.com/github/alesouzaeu/Python_estudo/blob/master/Desafio_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio 8

Escreva um script Python para encontrar as 10 palavras mais longas em um arquivo.

O arquivo TXT está localizado na mesma pasta do projeto (texto.txt).

In [47]:
import pandas as pd
import re

In [49]:
df  = pd.DataFrame(words)
df

            0
0        What
1          is
2      Python
3   language?
4      Python
..        ...
94        who
95        are
96   familiar
97       with
98    Python.

[99 rows x 1 columns]

In [50]:
df.columns

RangeIndex(start=0, stop=1, step=1)

In [60]:
df['clean_word'] = df[0].map(lambda x: re.sub('\W+','',x))

In [64]:
df['size_characters'] = df['clean_word'].str.len()

In [65]:
df

            0 clean_word  size_characters
0        What       What                4
1          is         is                2
2      Python     Python                6
3   language?   language                8
4      Python     Python                6
..        ...        ...              ...
94        who        who                3
95        are        are                3
96   familiar   familiar                8
97       with       with                4
98    Python.     Python                6

[99 rows x 3 columns]

In [69]:
df =df.drop([0])

In [70]:
df

   clean_word  size_characters
1          is                2
2      Python                6
3    language                8
4      Python                6
5          is                2
..        ...              ...
94        who                3
95        are                3
96   familiar                8
97       with                4
98     Python                6

[98 rows x 2 columns]

In [71]:
df.nlargest(10, 'size_characters')

        clean_word  size_characters
10  generalpurpose               14
48  objectoriented               14
70   comprehensive               13
93    intermediate               12
11     interpreted               11
13     programming               11
14     languageIts               11
19     readability               11
24     programmers               11
45     programming               11